name: script check

on: [push]

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get_Shellcheck
        run: apt-get install shellcheck
      - name: Build
        run: for f in $(find . -name "*.sh"); do shellcheck $f; done
